<h1> Year Creation </h1>

<%= form_for @year do |f| %>
  <table>
    <tr>
      <td><%= f.label :year %>:</td>
      <td><%= f.text_field :year %></td>
    </tr>
    <tr>
      <td><%= f.label :start_date%>:</td>
      <td><%= f.text_field :start_date, :class => 'datepicker' %> Note: Season starts on Thursday </td>
    </tr>
  </table>
  <div>
    <%= f.submit %>
  </div>
<% end %>