<h1 id='edit_game_header'> Week <%= @week.week %> Games </h1>

<%= form_for [@year, @week] do |f| %>
  <%= f.error_messages %>
  <table id='game_edit_table'>
    <tr>
      <th></th>
      <th>Away Team</th>
      <th></th>
      <th>Home Team</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
    <%= f.fields_for :games do |f2| %>
      <%= render "game_fields", :f => f2 %>
    <% end %>
  </table>
  <%= f.submit %> | <%= link_to "Week Index", year_weeks_path(@year, @week) %>
<% end %>
